{% extends 'profile/profileLayout.html.twig' %}

{% block title %}Mis emails{% endblock %}

{% block content %}

    <h2 class="mt-5">
        <a class="nav-back" href="{{ path('app_profile') }}"><i class="fas fa-arrow-left"></i></a> Mis teléfonos
    </h2>
    <p>
        Recuerda introducir sólo aquellos teléfonos de los que seas el titular de la línea.
    </p>

    {% for message in app.flashes('notice') %}
        <div class="card bg-primary my-2">
            <div class="card-body">{{ message|trans }}</div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col col-md-8 col-lg-6">
            <div class="card  mt-2">
                <ul class="list-group list-group-flush">
                    {% for phone in phones %}
                        <li class="list-group-item d-flex justify-content-between">
                            <div>{{ phone.phone }}</div>
                            <div>
                                <a href role="button" title="Eliminar" data-toggle="modal" data-target="#modalDelete"
                                   class="list-group-item-action text-dark ml-2 delete-action"
                                   data-url="{{ path('app_profile_phone_delete', { 'id': phone.id  }) }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    {{ form_start(phoneForm) }}
                    {{ form_row(phoneForm.phone) }}

                    <div class="text-center">
                        <button class="btn btn-primary">{% trans %}button.add{% endtrans %}</button>
                    </div>
                    {{ form_end(phoneForm) }}
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteLabel">Eliminar teléfono</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea elimnar este teléfono?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                    {{ form_start(deleteForm) }}
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                    {{ form_end(deleteForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.delete-action').on('click', function (e) {
                $('#modalDelete form').attr('action', $(this).data('url'))
            })
        })
    </script>
{% endblock %}
