{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.resetPassword{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center mt-5 mb-4">
            <div class="col-10 col-md-4">
                <img src="{{ asset('img/lista-viernes-logotipo@2x.png') }}" class="img-fluid">
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-md-8 col-lg-6">

                {% for message in app.flashes('error') %}
                    <div class="card text-white bg-secondary mt-4">
                        <div class="card-body">
                            <p class="card-text">{{ message|trans }}</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="card bg-light mt-4">
                    <div class="card-body">
                        <h2 class="card-title mb-4">{% trans %}title.resetPassword{% endtrans %}</h2>
                        {{ form_start(resetPasswordForm) }}
                        {{ form_row(resetPasswordForm.email) }}

                        <div class="text-center">
                            <button class="btn btn-secondary">{% trans %}button.resetPassword{% endtrans %}</button>
                        </div>

                        {{ form_end(resetPasswordForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
