{% extends 'admin/adminLayout.twig' %}

{% block title %}Editar perfil{% endblock %}

{% block content %}

    <h2 class="mt-5 mb-4">
        <a class="nav-back" href="{{ path('admin_party_show') }}"><i class="fas fa-arrow-left"></i></a>
        Editar partido político
    </h2>

    {% for message in app.flashes('notice') %}
        <div class="card bg-primary my-1">
            <div class="card-body">
                {{ message|trans }}
            </div>
        </div>
    {% endfor %}


    <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card mt-2">
                <div class="card-body">
                    {{ form_start(partyForm) }}
                    <div class="form-row">
                        <div class="col-md-5">
                            {{ form_row(partyForm.name) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_row(partyForm.surname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            {{ form_row(partyForm.politicalParty) }}
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">{% trans %}button.save{% endtrans %}</button>
                    </div>
                    {{ form_end(partyForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
