{% extends 'party/partyLayout.twig' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}

    <h2 class="mt-5 mb-4">
        <a class="nav-back" href="{{ path('party_index') }}"><i class="fas fa-arrow-left"></i></a> Cambiar contraseña
    </h2>

    {% for message in app.flashes('notice') %}
        <div class="card bg-primary my-1">
            <div class="card-body">
                {{ message|trans }}
            </div>
        </div>
    {% endfor %}


    <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card mt-2">
                <div class="card-body">
                    {{ form_start(changePasswordForm) }}
                    {{ form_row(changePasswordForm.oldPassword) }}
                    {{ form_row(changePasswordForm.newPassword) }}

                    <div class="text-center">
                        <button class="btn btn-secondary">{% trans %}button.save{% endtrans %}</button>
                    </div>
                    {{ form_end(changePasswordForm) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
